@import url("https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

.savate-text {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* or 700, 300, etc. depending on your font selection */
  font-style: normal;
}

.garden-container {
  min-height: 100vh;
  color: #065f46;
  padding: 1.5rem;
  text-align: center;
}

.garden-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.garden-welcome {
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* Container for dashboard layout */
.dashboard-container {
  min-height: 100vh;
  padding: 2rem;
  background-image: url("assets/Cloudy.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

/* Grid layout for widgets */
.widgets-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Widget box */
.widget {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1.25rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); /* updated shadow */
  backdrop-filter: blur(10px); /* glass effect */
  align-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.widget:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.widget h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.next-btn {
  border-radius: 50%;
  background-color: #f1f1f1;
  color: black;
  padding: 8px 16px;
  margin-left: 8px;
}
.next-btn:hover {
  background-color: #e0e0e0;
}

.prev-btn {
  border-radius: 50%;
  background-color: #f1f1f1;
  color: black;
  padding: 8px 16px;
  margin-right: 8px;
}
.prev-btn:hover {
  background-color: #e0e0e0;
}
