:root {
  --background: #a6c890;
  --foreground: #a6c890;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a6c890;
    --foreground: #a6c890;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  color: black;
  margin: 0;
  overflow: hidden;
}
